.react-datepicker__day--selected-light {
      background-color: #4b0086 !important;
      color: white !important;
    }
    
    .react-datepicker__day--selected-dark {
      background-color: #bb44f0 !important;
      color: white !important;
    }
    
    .react-datepicker__day--in-range-light {
      background-color: rgba(75, 0, 134, 0.1) !important;
      color: black !important;
    }
    
    .react-datepicker__day--in-range-dark {
      background-color: rgba(187, 68, 240, 0.1) !important;
      color: white !important;
    }
    
    .react-datepicker__day--disabled {
      color: #999 !important;
    }
    
    .react-datepicker__day:hover {
      background-color: rgba(75, 0, 134, 0.1) !important;
    }
    
    .react-datepicker__day:hover.react-datepicker__day--in-range-light {
      background-color: rgba(75, 0, 134, 0.1) !important;
    }
    
    .react-datepicker__day:hover.react-datepicker__day--in-range-dark {
      background-color: rgba(187, 68, 240, 0.1) !important;
    }
